<%= form_for(@accounting_entry) do |f| %>
  <% if @accounting_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accounting_entry.errors.count, "error") %> prohibited this accounting_entry from being saved:</h2>

      <ul>
      <% @accounting_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <th>Date</th>
      <th>Description / Transactions</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr>
        <td><%= f.date_field :date %></td>
        <td><%= f.text_field :description %></td>
        <td><%= f.text_field :amount %></td>
      </tr>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
