<%= form_for(@setting, :html => { :role => 'form' }) do |f| %>
  <% if @setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% @setting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :value %>
    <%= f.text_field :value, :class => 'form-control' %>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-default btn-primary' %>
    <%= link_to 'Cancel', settings_path, :class => 'btn btn-default' %>
  </div>
<% end %>
