<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @setting.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @setting.value %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting), :class => 'btn btn-warning' %>
<%= link_to 'Back', settings_path, :class => 'btn btn-default' %>
