<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Monkey Dashboard" %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="page-container">

      <!-- top navbar -->
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".sidebar-nav">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Monkey Dashboard</a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row row-offcanvas row-offcanvas-left">

          <!-- sidebar -->
          <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li>
                <%= link_to "Accounting", "/accounting", class: 'tree-toggle' %>
                <ul class="nav tree">
                  <li><%= link_to "Overview", "/accounting" %></li>
                  <li><%= link_to "Balances", "/accounting/balances" %></li>
                  <li><%= link_to "Monthly Income", "/accounting/monthly-income" %></li>
                  <li><%= link_to "Monthly Expenses", "/accounting/monthly-expenses" %></li>
                  <li><%= link_to "Ledger", "/accounting/ledger" %></li>
                </ul>
              </li>
              <li><%= link_to "Banking", "/banking" %></li>
              <li>
                <%= link_to "Business", "/business", class: 'tree-toggle' %>
                <ul class="nav tree">
                  <li><%= link_to "Overview", "/business" %></li>
                  <li><%= link_to "Customers", "/business/customers" %></li>
                  <li><%= link_to "Suppliers", "/business/suppliers" %></li>
                  <li><%= link_to "Invoices", "/business/invoices" %></li>
                </ul>
              </li>
              <li><%= link_to "Settings", "/settings"  %></li>
            </ul>
          </div>

          <!-- main area -->
          <div id="main" class="col-xs-12 col-sm-9">
            <%= yield %>
          </div><!-- /.col-xs-12 main -->

        </div><!--/.row-->
      </div><!--/.container-->
    </div><!--/.page-container-->

</body>
</html>
